<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9623253772764794",
    enable_page_level_ads: true
  });
</script>

</head>

<body>
    <div>
        <form action="/signup" method="post">
            <h6> 아이디 : </h6><input name="user_id" type="text" placeholder="id를 입력해주세요"><br>
            <h6> 비밀번호 : </h6><input name="password" type="password" placeholder="비밀번호를 입력해주세요"><br>
            <h6> 닉네임 : </h6><input name="name" type="name" placeholder="이름을 입력해주세요"><br><br>
            <button type="submit">회원가입</button>
        </form>
        <% if (message.length > 0) { %>
            <div class="alert alert-warning" role="alert">
                <strong><%= message %></strong>
            </div>
            <% } %>
    </div>
</body>

</html>
